@import "./base/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities";

.primary-gradient {
  background: linear-gradient(45deg, $primary, $teal);
  border: none;
}

.button-gradient {
  background: $primary;
  padding: 1.8rem .5rem;
  border-radius: 20rem;
  color: $white;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .15rem;
  transition: all .3s;
  overflow: hidden;
  z-index: 1;
  border: none;
  &:hover {
    color: $white;
    background: $success;
  }
}

.test-input {
  padding-left: 1rem;
  position: relative;
  &:not(.has-value)::before {
    content: 'max';
    color: white;
    left: 1rem;
    position: absolute;
  }
  &.has-value, &:hover {
    &::before {
      left: 0;
    }
  }

}
