@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

/* Customizations */
$border-radius: .2rem;

$primary: #42D9C8;
$secondary: #ec058e;
$dark: #1b214b;
$text-muted: lighten(#1b214b, 50);

@import "~bootstrap/scss/variables";
