@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

/* Customizations */
$border-radius: .2rem;

$primary: #42D9C8;
$secondary: #ec058e;
$dark: #1b214b;
$mi-piaceva-il-colore: #1b3b6f;


/*
$secondary: #E06D06;
$primary: #FFC53A;
$dark: #094074;


$secondary: #F49D37;
$primary: #3E92CC;
$dark: #292F36;
*/

@import "~bootstrap/scss/variables";
